.headline {
  color: blue;
  margin-left: 90px;
}

.login {
  box-sizing: border-box;
  margin-left: 40px;
  border: greenyellow;
  border-radius: 12px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  max-width: 350px;
}
.headLine {
  margin-left: 20px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 12);
}
#name {
  margin-top: 20px;
  margin-left: 20px;
  color: green;
}
.message {
  color: gray;
  margin-left: 20px;
}
.sendMessage {
  margin-top: 20px;
  margin-left: 40px;
}
button,
code {
  margin-left: 20px;
  margin-bottom: 10px;
}
